extends ../layouts/layout

block content
    - var requestsCount = aire != null ? aire.publicFormRequests.size() : 0
    .mt-10(class="sm:mt-0")
        form(action="/aire" method="POST")
            .mb-10.shadow.overflow-hidden(class="sm:rounded-md")
                .bg-white.px-4.py-5.border-b.border-gray-200(class="sm:px-6")
                    .-ml-4.-mt-2.flex.items-center.justify-between.flex-wrap(class="sm:flex-no-wrap")
                        .ml-4.mt-2.flex.items-center
                            h3.text-lg.leading-6.font-medium.text-gray-900
                                | #{aire ? 'Aire : ' + aire.nomAire : 'Nouvelle aire'}
                            if (requestsCount > 0)
                                span.inline-flex.items-center.ml-3.rounded-md.text-sm.font-medium.leading-5.bg-red-100.text-red-800(class="px-2.5 py-0.5")
                                    svg.h-2.w-2.text-red-400(class="-ml-0.5 mr-1.5" fill="currentColor" viewbox="0 0 8 8")
                                        circle(cx="4" cy="4" r="3")
                                    | #{requestsCount} #{requestsCount > 1 ? 'demandes' : 'demande'}  de modifications
                        .ml-4.mt-2.flex-shrink-0
                            span.inline-flex.rounded-md.shadow-sm
                                a.inline-flex.items-center.px-4.py-2.border.border-gray-300.text-sm.leading-5.font-medium.rounded-md.text-gray-700.bg-white.transition.ease-in-out.duration-150(href="/aire" class="hover:text-gray-500 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:text-gray-800 active:bg-gray-50")
                                    | Retour

                    +hiddenInput('id', aire.id)
                    +textInput('id', 'Identifiant', aire.id, true)
                    +textInput('nomAire', 'Nom', aire.nomAire)
                    +inlineRadio(false, true, 'statutOuvert', aire.statutOuvert, 'Ouvert', 'L\'aire est-elle actuellement ouverte ?')
                    +inlineRadio(false, false, 'concession', aire.concession, 'Concession', 'L\'aire est-elle gérée par un concessionnaire ?')
                    +select('dirSca', 'Identifiant du gestionnaire', codesGest, aire.dirSca, true, false)(class="mt-6")
                    +textInput('route', 'Route', aire.route)
                    +textInput('dep', 'Département (numéro)', aire.dep)

                    .mt-6
                        label.block.text-sm.font-medium.leading-5.text-gray-700 Type d'aire
                        .mt-2
                            .flex.items-center
                                input#typeAire.form-radio.h-4.w-4.text-indigo-600.transition.duration-150.ease-in-out(name="typeAire" type="radio" value="Service" checked=aire.typeAire == 'Service')
                                label.ml-3(for="typeAire")
                                    span.block.text-sm.leading-5.font-medium.text-gray-700 Service
                            .mt-2.flex.items-center
                                input#typeRepos.form-radio.h-4.w-4.text-indigo-600.transition.duration-150.ease-in-out(name="typeAire" type="radio" value="Repos" checked=aire.typeAire == 'Repos')
                                label.ml-3(for="typeRepos")
                                    span.block.text-sm.leading-5.font-medium.text-gray-700 Repos
                            .mt-2.flex.items-center
                                input#typeInconnu.form-radio.h-4.w-4.text-indigo-600.transition.duration-150.ease-in-out(name="typeAire" type="radio" value="-" checked=aire.typeAire == '-')
                                label.ml-3(for="typeInconnu")
                                    span.block.text-sm.leading-5.font-medium.text-gray-700 - 

                    .mt-3
                        +inlineRadio(true, true, 'eqPlacesPl', aire.eqPlacesPl, 'Stationnement poids lourds', 'L\'aire est-elle équipée de places de stationnements poids lourds ?')
                    
                    
                    div.flex.flex-wrap(class="my-3 -mx-3")
                        .w-full(class="xl:w-1/2 mt-3 px-3")
                            .bg-white.shadow.rounded-lg.w-full.overflow-hidden
                                .border-b.border-gray-200.px-4.py-5(class="sm:px-6")
                                    h3(class="leading-4 font-medium text-gray-900") Sanitaires
                                div(class="px-4 py-5 sm:p-6 -mt-6")
                                    +inlineRadio(true, true, 'eqSanitaires', aire.eqSanitaires, "Sanitaires", "L'aire est-elle équipée de sanitaires ?")
                                    +inlineRadio(true, true, 'servSanitaires', aire.servSanitaires, "Sanitaires ouverts", "Les sanitaires sont-ils ouverts sur cette aire ?")

                        .w-full(class="xl:w-1/2 mt-3 px-3")
                            .bg-white.shadow.rounded-lg.w-full.overflow-hidden
                                .border-b.border-gray-200.px-4.py-5(class="sm:px-6")
                                    h3(class="leading-4 font-medium text-gray-900") Douches
                                div(class="px-4 py-5 sm:p-6 -mt-6")
                                    +inlineRadio(true, true, 'eqDouches', aire.eqDouches, 'Douches', 'L\'aire est-elle équipée de douches ?')
                                    +inlineRadio(true, true, 'servDouches', aire.servDouches, 'Douches ouverts', 'Les douches sont-elles ouvertes sur cette aire ?')
                        .w-full(class="xl:w-1/2 mt-3 px-3")
                            .bg-white.shadow.rounded-lg.w-full.overflow-hidden
                                .border-b.border-gray-200.px-4.py-5(class="sm:px-6")
                                    h3(class="leading-4 font-medium text-gray-900") Restauration rapide / Vente à emporter
                                div(class="px-4 py-5 sm:p-6 -mt-6")
                                    +inlineRadio(true, true, 'eqRestau', aire.eqRestau, 'Restauration', 'L\'aire est-elle équipée de restauration rapide / vente à emporter ?')
                                    +inlineRadio(true, true, 'servRestau', aire.servRestau, 'Restauration ouverte', 'La restauration rapide / vente à emporter est-elle ouverte sur cette aire ?')
                        .w-full(class="xl:w-1/2 mt-3 px-3")
                            .bg-white.shadow.rounded-lg.w-full.overflow-hidden
                                .border-b.border-gray-200.px-4.py-5(class="sm:px-6")
                                    h3(class="leading-4 font-medium text-gray-900") Pompe poids lourds
                                div(class="px-4 py-5 sm:p-6 -mt-6")
                                    +inlineRadio(true, true, 'eqCarbuPl', aire.eqCarbuPl, 'Pompe poids lourds', 'L\'aire est-elle équipée d\'une pompe poids lourds ?')
                                    +inlineRadio(true, true, 'servCarbuPl', aire.servCarbuPl, 'Pompe en service', 'La pompe poids lourds est-elle en service sur cette aire ?')


                    +textarea('com', 'Commentaire', aire.com)
                    +textInput('x', 'X (Lambert 93)', aire.x)
                    +textInput('y', 'Y (Lambert 93)', aire.y)

                    if requestsCount > 0
                        +requestsSection('aire', aire.id, aire.publicFormRequests)

                +formFooter("aire", aire.id)
