mixin textInput(name, label, value, readonly)
    .flex.flex-col.mt-6(class="xl:w-1/3 lg:w-1/2 w-full")
        label.block.text-sm.font-medium.leading-5.text-gray-700(for=name) #{label}
        .mt-1.relative.rounded-md.shadow-sm
            if readonly
                input.form-input.block.w-full.bg-gray-50.text-gray-500(class="sm:text-sm" value=value readonly)
            else
                input.form-input.block.w-full(id=name name=name, class="sm:text-sm sm:leading-5" placeholder="", value=value)

mixin textarea(name, label, value)
    .flex.items-start.mt-6
        .col-span-6(class="sm:col-span-2")
            label.block.text-sm.font-medium.leading-5.text-gray-700(for=name) #{label}
            .mt-1.relative.rounded-md.shadow-sm
                textarea.form-input.block.w-full(rows="8" cols="45" id=name name=name class="sm:text-sm sm:leading-5" placeholder="") #{value}
                    
mixin checkbox(name, isChecked, label, explanation)
    .relative.flex.items-start(class=removeMargin ? '' : 'mt-6')
        .absolute.flex.items-center.h-5
            input.form-checkbox.h-4.w-4.text-indigo-600.transition.duration-150.ease-in-out(id=name name=name type="checkbox" checked=isChecked)
        .pl-7.text-sm.leading-5
            label.font-medium.text-gray-700(for=name) #{label}
            p.text-gray-500 #{explanation}

mixin inlineRadio(showUndefined, showRequests, name, value, label, explanation)
    .relative.flex.items-start(class=removeMargin ? '' : 'mt-6')
        .text-sm.leading-5
            label.font-medium.text-gray-700(for=name) #{label}
            p.text-gray-500 #{explanation}
    .mt-2.flex.items-center
        .flex.items-center.mr-4
            input.form-radio.h-4.w-4.text-indigo-600.transition.duration-150.ease-in-out(id="#{name}Oui" name=name type="radio" value="true" checked=value)
            label.ml-2(for="#{name}Oui")
                span.block.text-sm.leading-5.font-medium.text-gray-700 Oui
        .flex.items-center.mr-4
            input.form-radio.h-4.w-4.text-indigo-600.transition.duration-150.ease-in-out(id="#{name}Non" name=name type="radio" value="false" checked=!value)
            label.ml-2(for="#{name}Non")
                span.block.text-sm.leading-5.font-medium.text-gray-700 Non
        if (showUndefined)
            .flex.items-center.mr-4
                input.form-radio.h-4.w-4.text-indigo-600.transition.duration-150.ease-in-out(id="#{name}Inconnu" name=name type="radio" value="" checked=value==null)
                label.ml-2(for="#{name}Inconnu")
                    span.block.text-sm.leading-5.font-medium.text-gray-700 -
        if showRequests
            - var yesRequests = ag != null ? ag.requestsStatus[name + 'Oui'] : 0;
            - var noRequests = ag != null ? ag.requestsStatus[name + 'Non'] : 0;
            if (yesRequests > 0)
                span.tooltip.inline-flex.items-center.rounded-md.text-sm.font-medium.leading-5(class="px-2.5 py-0.5 #{value ? 'bg-green-100 text-green-800' : 'bg-red-100 text-red-800'}")
                    | #{yesRequests} #{yesRequests > 1 ? 'disent' : 'dit'} oui
                    span.tooltip-text.rounded-md.px-3.text-sm.font-normal.leading-5.bg-blue-100.text-blue-800(class="py-0.5") 
                        each requestComment in ag.requestsComments[name + 'Oui']
                            | - #{requestComment}<br>
            if (noRequests > 0)
                span.tooltip.inline-flex.items-center.rounded-md.text-sm.font-medium.leading-5.ml-3(class="px-2.5 py-0.5 #{value ? 'bg-red-100 text-red-800' : 'bg-green-100 text-green-800'}")
                    | #{noRequests} #{noRequests > 1 ? 'disent' : 'dit'} non
                    span.tooltip-text.rounded-md.px-3.text-sm.font-normal.leading-5.bg-blue-100.text-blue-800(class="py-0.5") 
                        each requestComment in ag.requestsComments[name + 'Non']
                            | - #{requestComment}<br>
mixin select(name, label, options, selectedValue, emptyOption, required)
    .flex.flex-col.mt-6(class="xl:w-1/3 lg:w-1/2 w-full")
        label.block.text-sm.font-medium.leading-5.text-gray-700(for=name)
            | #{label}
            if required
                span.text-red-600 *
        .mt-1.rounded-md.shadow-sm
            select#country.form-select.block.w-full.transition.duration-150.ease-in-out(name=name class="sm:text-sm sm:leading-5" required=required)
                if (emptyOption)
                    option
                each option in options
                    +selectOption(option.key, selectedValue.equals(option.key), option.value)

mixin selectOption(value, isSelected, label)
    option(value=value selected=isSelected) #{label}

mixin hiddenInput(name, value)
    if (value)
        input(type="hidden" name=name value=value)

mixin formFooter(dataType, id)
    .px-4.py-3.bg-gray-50.text-right(x-cloak x-data="{ open: false }" class="sm:px-6")
        .fixed.bottom-0.inset-x-0.px-4.pb-4( x-show="open" class="sm:inset-0 sm:flex sm:items-center sm:justify-center")
            .fixed.inset-0.transition-opacity(x-show="open" x-transition:enter="ease-out duration-300" x-transition:enter-start="opacity-0" x-transition:enter-end="opacity-100" x-transition:leave="ease-in duration-200" x-transition:leave-start="opacity-100" x-transition:leave-end="opacity-0")
                .absolute.inset-0.bg-gray-500.opacity-75
            .bg-white.rounded-lg.px-4.pt-5.pb-4.overflow-hidden.shadow-xl.transform.transition-all(x-show="open" x-transition:enter="ease-out duration-300" x-transition:enter-start="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95" x-transition:enter-end="opacity-100 translate-y-0 sm:scale-100" x-transition:leave="ease-in duration-200" x-transition:leave-start="opacity-100 translate-y-0 sm:scale-100" x-transition:leave-end="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95" class="sm:max-w-lg sm:w-full sm:p-6")
                div(class="sm:flex sm:items-start")
                    .mx-auto.flex-shrink-0.flex.items-center.justify-center.h-12.w-12.rounded-full.bg-red-100(class="sm:mx-0 sm:h-10 sm:w-10")
                        svg.h-6.w-6.text-red-600(stroke="currentColor" fill="none" viewbox="0 0 24 24")
                            path(stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z")
                    .mt-3.text-center(class="sm:mt-0 sm:ml-4 sm:text-left")
                        h3.text-lg.leading-6.font-medium.text-gray-900
                            | Supprimer
                        .mt-2
                            p.text-sm.leading-5.text-gray-500
                                | Êtes-vous certain de vouloir supprimer ce lieu ?
                .mt-5(class="sm:mt-4 sm:flex sm:flex-row-reverse")
                    span.flex.w-full.rounded-md.shadow-sm(class="sm:ml-3 sm:w-auto")
                        a.inline-flex.justify-center.w-full.rounded-md.border.border-transparent.px-4.py-2.bg-red-600.text-base.leading-6.font-medium.text-white.shadow-sm.transition.ease-in-out.duration-150(href="/#{dataType}/#{id}/delete" type="button" class="hover:bg-red-500 focus:outline-none focus:border-red-700 focus:shadow-outline-red sm:text-sm sm:leading-5")
                            | Supprimer
                    span.mt-3.flex.w-full.rounded-md.shadow-sm(class="sm:mt-0 sm:w-auto")
                        button.inline-flex.justify-center.w-full.rounded-md.border.border-gray-300.px-4.py-2.bg-white.text-base.leading-6.font-medium.text-gray-700.shadow-sm.transition.ease-in-out.duration-150(@click="open = false" type="button" class="hover:text-gray-500 focus:outline-none focus:border-blue-300 focus:shadow-outline sm:text-sm sm:leading-5")
                            | Annuler
        if (id)
            button.inline-flex.items-center.justify-center.px-4.py-2.border.border-transparent.font-medium.rounded-md.text-red-700.bg-red-100.transition.ease-in-out.duration-150(@click="open = true" type="button" class="hover:bg-red-50 focus:outline-none focus:border-red-300 focus:shadow-outline-red active:bg-red-200 sm:text-sm sm:leading-5")
                | Supprimer

        button.ml-3.py-2.px-4.border.border-transparent.text-sm.leading-5.font-medium.rounded-md.text-white.bg-indigo-600.shadow-sm.transition.duration-150.ease-in-out(class="hover:bg-indigo-500 focus:outline-none focus:shadow-outline-blue active:bg-indigo-600")
            | Enregistrer


mixin table(title, page, sortOptions, sort, dir, keyword, columns)
    .align-middle.inline-block.min-w-full.shadow.overflow-hidden.border-b.border-gray-200(class="sm:rounded-lg")
        .bg-white.px-4.py-5.border-b.border-gray-200(class="sm:px-6")
            .-ml-4.-mt-4.flex.justify-between.items-center.flex-wrap(class="sm:flex-no-wrap")
                .ml-4.mt-4
                    h3.text-lg.leading-6.font-medium.text-gray-900 #{title}
                    p.mt-1.text-sm.leading-5.text-gray-500
                        | #{page.getTotalElements()} résultats
                .mt-4.flex(class="md:mt-0 md:ml-4")
                    .relative.ml-3.inline-block.text-left(x-data="{ open: false }" @keydown.window.escape="open = false" @click.away="open = false")
                        div
                            span.rounded-md.shadow-sm
                                button.inline-flex.justify-center.w-full.rounded-md.border.border-gray-300.px-4.py-2.bg-white.text-sm.leading-5.font-medium.text-gray-700.transition.ease-in-out.duration-150(@click="open = !open" type="button" class="hover:text-gray-500 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:bg-gray-50 active:text-gray-800")
                                    | Tri par&nbsp;#{sortOptions[sort]}
                                    svg.-mr-1.ml-2.h-5.w-5(fill="currentColor" viewbox="0 0 20 20")
                                        path(fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd")
                        .origin-top-right.absolute.right-0.mt-2.w-56.rounded-md.shadow-lg(x-show="open" x-transition:enter="transition ease-out duration-100" x-transition:enter-start="transform opacity-0 scale-95" x-transition:enter-end="transform opacity-100 scale-100" x-transition:leave="transition ease-in duration-75" x-transition:leave-start="transform opacity-100 scale-100" x-transition:leave-end="transform opacity-0 scale-95")
                            .rounded-md.bg-white.shadow-xs
                                .py-1
                                    each sortOption in sortOptions.entrySet()
                                        a.block.px-4.py-2.text-sm.leading-5.text-gray-700.capitalize(href="?page=#{page.getNumber()}&sort=#{sortOption.key}&dir=#{dir}&keyword=#{keyword}" class="hover:bg-gray-100 hover:text-gray-900 focus:outline-none focus:bg-gray-100 focus:text-gray-900") #{sortOption.value}
                    
                    .relative.inline-block.text-left.ml-3(x-data="{ open: false }" @keydown.window.escape="open = false" @click.away="open = false")
                        div
                            span.rounded-md.shadow-sm
                                button.inline-flex.justify-center.w-full.rounded-md.border.border-gray-300.px-4.py-2.bg-white.text-sm.leading-5.font-medium.text-gray-700.transition.ease-in-out.duration-150(@click="open = !open" type="button" class="hover:text-gray-500 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:bg-gray-50 active:text-gray-800")
                                    | #{dir == 'desc' ? 'Décroissant' : 'Croissant'}
                                    svg.-mr-1.ml-2.h-5.w-5(fill="currentColor" viewbox="0 0 20 20")
                                        path(fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd")                                                    
                        .origin-top-right.absolute.right-0.mt-2.w-56.rounded-md.shadow-lg(x-show="open" x-transition:enter="transition ease-out duration-100" x-transition:enter-start="transform opacity-0 scale-95" x-transition:enter-end="transform opacity-100 scale-100" x-transition:leave="transition ease-in duration-75" x-transition:leave-start="transform opacity-100 scale-100" x-transition:leave-end="transform opacity-0 scale-95")
                            .rounded-md.bg-white.shadow-xs
                                .py-1
                                    a.block.px-4.py-2.text-sm.leading-5.text-gray-700(href="?page=#{page.getNumber()}&sort=#{sort}&dir=asc&keyword=#{keyword}" class="hover:bg-gray-100 hover:text-gray-900 focus:outline-none focus:bg-gray-100 focus:text-gray-900") Croissant
                                    a.block.px-4.py-2.text-sm.leading-5.text-gray-700(href="?page=#{page.getNumber()}&sort=#{sort}&dir=desc&keyword=#{keyword}" class="hover:bg-gray-100 hover:text-gray-900 focus:outline-none focus:bg-gray-100 focus:text-gray-900") Décroissant
                    div.ml-3
                        form(action="", method="GET")
                            .flex.rounded-md.shadow-sm
                                .relative.flex-grow(class="focus-within:z-10")
                                    input#email.form-input.block.rounded-none.rounded-l-md.transition.ease-in-out.duration-150.w-36(class="sm:text-sm sm:leading-5" placeholder="Rechercher" name="keyword", value="#{keyword}")
                                button.-ml-px.relative.inline-flex.items-center.px-4.py-2.border.border-gray-300.text-sm.leading-5.font-medium.rounded-r-md.text-gray-700.bg-gray-50.transition.ease-in-out.duration-150(class="hover:text-gray-500 hover:bg-white focus:outline-none focus:shadow-outline-blue focus:border-blue-300 active:bg-gray-100 active:text-gray-700")
                                    | Go
        table.min-w-full
            thead
                tr
                    each column in columns.entrySet()
                        th.px-6.py-3.border-b.border-gray-200.bg-gray-50.text-left.text-xs.leading-4.font-medium.text-gray-500.uppercase.tracking-wider #{column.value}
                    th.px-6.py-3.border-b.border-gray-200.bg-gray-50
            tbody
                block
        .bg-white.px-4.py-3.flex.items-center.justify-between.border-t.border-gray-200(class="sm:px-6")
            .hidden(class="sm:flex-1 sm:flex sm:items-center sm:justify-between")
                div
                    p.text-sm.leading-5.text-gray-700
                        | Lignes &nbsp;
                        span.font-medium #{firstIndex}
                        |         à&nbsp;
                        span.font-medium #{lastIndex}
                        |         de&nbsp;
                        span.font-medium #{page.getTotalElements()}
                        |         résultats
            .flex-1.flex.justify-between(class="sm:justify-end")
                a.relative.inline-flex.items-center.px-4.py-2.border.border-gray-300.text-sm.leading-5.font-medium.rounded-md.text-gray-700.bg-white.transition.ease-in-out.duration-150(href='?page=0&sort=#{sort}&dir=#{dir}&keyword=#{keyword}' class="hover:text-gray-500 focus:outline-none focus:shadow-outline-blue focus:border-blue-300 active:bg-gray-100 active:text-gray-700")
                    | &lt;&lt;&nbsp;Première
                a.ml-3.relative.inline-flex.items-center.px-4.py-2.border.border-gray-300.text-sm.leading-5.font-medium.rounded-md.text-gray-700.bg-white.transition.ease-in-out.duration-150(href='?page=#{previousPage}&sort=#{sort}&dir=#{dir}&keyword=#{keyword}' c class="hover:text-gray-500 focus:outline-none focus:shadow-outline-blue focus:border-blue-300 active:bg-gray-100 active:text-gray-700")
                    | Précédent
                a.ml-3.relative.inline-flex.items-center.px-4.py-2.border.border-gray-300.text-sm.leading-5.font-medium.rounded-md.text-gray-700.bg-white.transition.ease-in-out.duration-150(href='?page=#{nextPage}&sort=#{sort}&dir=#{dir}&keyword=#{keyword}' c class="hover:text-gray-500 focus:outline-none focus:shadow-outline-blue focus:border-blue-300 active:bg-gray-100 active:text-gray-700")
                    | Suivant    
                a.ml-3.relative.inline-flex.items-center.px-4.py-2.border.border-gray-300.text-sm.leading-5.font-medium.rounded-md.text-gray-700.bg-white.transition.ease-in-out.duration-150(href='?page=#{lastPage}&sort=#{sort}&dir=#{dir}&keyword=#{keyword}' c class="hover:text-gray-500 focus:outline-none focus:shadow-outline-blue focus:border-blue-300 active:bg-gray-100 active:text-gray-700")
                    | Dernière&nbsp;&gt;&gt;


mixin requestsSection(type, id, requests)
    .rounded-md.bg-yellow-50.p-4.mt-6.border-l-4.border-yellow-400(x-data="{ open: false }")
        .fixed.bottom-0.inset-x-0.px-4.pb-4( x-show="open" class="sm:inset-0 sm:flex sm:items-center sm:justify-center")
            .fixed.inset-0.transition-opacity(x-show="open" x-transition:enter="ease-out duration-300" x-transition:enter-start="opacity-0" x-transition:enter-end="opacity-100" x-transition:leave="ease-in duration-200" x-transition:leave-start="opacity-100" x-transition:leave-end="opacity-0")
                .absolute.inset-0.bg-gray-500.opacity-75
            .bg-white.rounded-lg.px-4.pt-5.pb-4.overflow-hidden.shadow-xl.transform.transition-all(x-show="open" x-transition:enter="ease-out duration-300" x-transition:enter-start="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95" x-transition:enter-end="opacity-100 translate-y-0 sm:scale-100" x-transition:leave="ease-in duration-200" x-transition:leave-start="opacity-100 translate-y-0 sm:scale-100" x-transition:leave-end="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95" class="sm:max-w-lg sm:w-full sm:p-6")
                div(class="sm:flex sm:items-start")
                    .mx-auto.flex-shrink-0.flex.items-center.justify-center.h-12.w-12.rounded-full.bg-red-100(class="sm:mx-0 sm:h-10 sm:w-10")
                        svg.h-6.w-6.text-red-600(stroke="currentColor" fill="none" viewbox="0 0 24 24")
                            path(stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z")
                    .mt-3.text-center(class="sm:mt-0 sm:ml-4 sm:text-left")
                        h3.text-lg.leading-6.font-medium.text-gray-900
                            | Supprimer
                        .mt-2
                            p.text-sm.leading-5.text-gray-500
                                | Êtes-vous certain de vouloir supprimer les demandes de modifications ?
                .mt-5(class="sm:mt-4 sm:flex sm:flex-row-reverse")
                    span.flex.w-full.rounded-md.shadow-sm(class="sm:ml-3 sm:w-auto")
                        a.inline-flex.justify-center.w-full.rounded-md.border.border-transparent.px-4.py-2.bg-red-600.text-base.leading-6.font-medium.text-white.shadow-sm.transition.ease-in-out.duration-150(href="/#{type}/#{id}/delete-requests" type="button" class="hover:bg-red-500 focus:outline-none focus:border-red-700 focus:shadow-outline-red sm:text-sm sm:leading-5")
                            | Supprimer
                    span.mt-3.flex.w-full.rounded-md.shadow-sm(class="sm:mt-0 sm:w-auto")
                        button.inline-flex.justify-center.w-full.rounded-md.border.border-gray-300.px-4.py-2.bg-white.text-base.leading-6.font-medium.text-gray-700.shadow-sm.transition.ease-in-out.duration-150(@click="open = false" type="button" class="hover:text-gray-500 focus:outline-none focus:border-blue-300 focus:shadow-outline sm:text-sm sm:leading-5")
                            | Annuler
        .flex
            .flex-shrink-0
                svg.h-5.w-5.text-yellow-400(fill="currentColor" viewbox="0 0 20 20")
                    path(fill-rule="evenodd" d="M8.257 3.099c.765-1.36 2.722-1.36 3.486 0l5.58 9.92c.75 1.334-.213 2.98-1.742 2.98H4.42c-1.53 0-2.493-1.646-1.743-2.98l5.58-9.92zM11 13a1 1 0 11-2 0 1 1 0 012 0zm-1-8a1 1 0 00-1 1v3a1 1 0 002 0V6a1 1 0 00-1-1z" clip-rule="evenodd")
            .ml-3
                h3.text-sm.leading-5.font-medium.text-yellow-800
                    | Demandes de modifications
                .mt-2.text-sm.leading-5.text-yellow-700
                    ul.list-disc.pl-5
                        each request in requests
                            li #{request.commentForDisplay}
                .mt-5
                    span.inline-flex.rounded-md.shadow-sm
                        button.inline-flex.items-center.px-4.py-2.border.border-gray-300.text-sm.leading-5.font-medium.rounded-md.text-gray-700.bg-white.transition.ease-in-out.duration-150(type="button" @click="open = true" class="hover:text-gray-500 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:text-gray-800 active:bg-gray-50")
                            | Supprimer les demandes
